/*pictures: https://unsplash.com/*/
/*https://www.w3schools.com/howto/howto_css_fixed_menu.asp*/

.textaligncenter{
    text-align: center; 
    }

form{
    text-align: center;

    }

h1{
    font-size:50px;
    text-align: center;
}

h2{
    font-size: 40px;
}

li{
    font-size: 20px;
    text-align: left;
}

.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;

  }
  
  .navbar a {
    
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }

.MainLink{
text-decoration: none;/*To remove underline in link*/
font-size: 30px;
}

.main{
    margin-top: 100px; 
    width: 100%;
}


.HomeWording{
    justify-self: center;
    font-size: 60px;

}

.SunCont{
    display: grid;
    justify-content: center;
}

.Sun{
    background-color: yellow;
    border-radius:50%;
    
    width:200px;
    height:200px;
}

.Contact{
    margin-top: 10px;
    border-style: solid;
    grid-area: kk;
    justify-self: center;
    font-size: 60px;
}

.SituationsCont{
    display:grid;
    
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(7,1fr);
    
    }
    