
.container{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
}

.MainLink{
text-decoration: none;
font-size: 30px;
}

.indexCon{
    display:grid;
    
    background: lightgray;
    
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    
    grid-template-areas: 
    "aa bb cc"
    "dd ee ff"
    "gg hh ii"
    "jj kk ll"
    }

.HomeWording1{
    justify-self: center;
    font-size: 60px;
grid-area:bb;
}

.HomeWording2{
    justify-self: center;
    font-size: 60px;
    grid-area:ee;
}

.Sun{
    background-color: yellow;
grid-area:hh;
border-radius:50%;
}

.Contact{
    border-style: solid;
    grid-area: kk;
    justify-self: center;
    font-size: 60px;
}

.IndustriesCon{
text-align: center; 
}

.ind1{
grid-area:"i4";    

}

.ind2{
    grid-area:"i1";    
    
    }

li{
    font-size: large;

}